# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
*.elf

# Art assets
*.png
*.svg

# Generated C++ files
*.gen.cpp
*.gen.h
